@using System.Threading
@{
    ViewData["Title"] = "My profile";

    string id = User.Claims.Where(x => x.Type == "Id").Select(c => c.Value).SingleOrDefault();
    string username = User.Claims.Where(x => x.Type == "Username").Select(c => c.Value).SingleOrDefault();
    string role = User.Claims.Where(x => x.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
}

<p>Your id: @id</p>
<p>Your username: @username</p>
<p>Your role: @role</p>