@{
    ViewData["Title"] = "Home";
    string name = string.Empty;
    
    if (User.Identity.IsAuthenticated)
    {
        name = User.Claims.Where(x => x.Type == "Username").Select(c => c.Value).SingleOrDefault();
    }
    else
    {
        name = "Guest";
    }
}

<h1>Welcome, @name</h1>