body
{
    font-family: 'Merriweather-Sans', sans-serif;
    background-color: #fff;
    /* margin: 0; */
}

button
{
    border: none;
    outline: none;
    cursor: pointer;
}

a
{
    text-decoration: none;
    color: inherit;
}

.container
{
    box-sizing: content-box;
    padding: 2em 0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
    border-radius: 2px;
}

.main
{
    margin: auto;
    width: 65%;
}

.nav-bar
{
    display: flex;
    align-items: center;
    overflow: hidden;
    text-align: center;
    padding: 0;
    margin: 2em 0;
    color: black;
    /* background-color: rgb(221, 75, 75); */
}

.nav-item
{
    list-style: none;
    font-weight: bold;
    user-select: none;
    align-items: center;
    text-align: center;
    margin: auto 0;
    width: 8em;
    transition: .25s background-color;
}

.nav-item:hover
{
    color: #fff;
    background-color: rgb(221, 75, 75);
}

.nav-link
{
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 1em 0em;
}

/* .nav-link:hover
{
    transform: scale(4);
} */

.active
{
    border-bottom: 2px solid rgb(221, 75, 75);
}

.nav-brand
{
    height: 1.7em;
    padding: 0 2em;
    justify-content: center;
    -webkit-user-select: none;
    transition: .25s;
}

.nav-brand:hover
{
    cursor: pointer;
    transform: scale(1.05);
}

.content
{
    min-height: 48em;
    display: none;
}

.align-right
{
    margin-left: auto;
}

.float-right
{
    float: right;
}

.products-box
{
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}

.product
{
    text-align: center;
    overflow: hidden;
    width: 16em;
    height: 24em;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
    border-radius: .2px;
    margin: 1em;
    transition: all .25s;
}

.product:hover
{
    /* transform: scale(1.025); */
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.15);
}

.product .info
{
    text-align: left; 
    padding: 1em;
}

.product h3
{
    margin: 0;
}

.product .name
{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    margin-bottom: 1em;
    overflow: hidden;
}

.product .in-stock
{
    color: rgb(0, 221, 0);
}

.product .out-of-stock
{
    color: rgb(226, 0, 0);
}

.product .price
{
    font-style: italic;
}

.product img
{
    /* max-width: 16em; */
    height: 16em;
    filter: brightness(100%);
    transition: all .25s ease;
}

.product img:hover
{
    filter: brightness(75%);
}

.btn-view
{
    width: 4em;
    height: 2em;
    transition: all .25s;
}

.btn-view:hover
{
    color: white;
    background-color: rgb(221, 75, 75);
}

.clickable
{
    cursor: pointer;
}

.account-box
{
    margin: auto;
    text-align: center;
    width: 35%;
    /* height: 16rem; */
}

.account-box .tabs
{
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    overflow: hidden;
}

.account-box .tabs button
{
    background-color: inherit;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    padding: 1em 2em;
    transition: background-color 0.25s;
}

.account-box .tabs button:hover
{
    background-color: rgb(221, 75, 75);
}

.account-box .tabs button .active
{
    background-color: rgb(221, 75, 75);
}

.account-box .tab-content
{
    display: none;
    width: 100%;
}

.account-box input
{
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    border-radius: 2em;
    background-color: rgb(240, 240, 240);
    border: none;
    outline: none;
}

.account-box input[type="submit"]
{
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: bold;
    width: 50%;
    border: 2px solid rgb(221, 75, 75);
    background-color: rgb(221, 75, 75);
    box-sizing: border-box;
    transition: all .25s;
}

.account-box input[type="submit"]:hover
{
    background-color: white;
}

.account-box .forms
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box
{
    margin-bottom: 1em;
}

.error-box
{
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin: 1em;
    padding: 1em;
    border-radius: 2px;
    background-color: rgb(221, 75, 75);
}